<%= render '/users/partials/top_bar' %>
<% provide(title: "Sign up for a new Credible account.") %>
<div class="registration">

  <div class="jumbo">
    <header class="centered">
      <img src = '/homepage/credible_logo_color.png' width= "40%" >
      <h1>Start building your online reputation.</h1>
    </header>
  </div>
  <div class="wrapper">
    <%= render 'users/partials/registration_form'%>
  </div>
</div>
