<% provide(title: "Sign up for a new Credible account.") %>
<div class="registration">

  <h1>Create a new creddible account.</h1>
  <h4>Start to build your online reputation and let people see how great it can be to do business with you!</h4>

  <div class="center panel shadow">
    <%= render 'users/partials/registration_form'%>
  </div>

</div>