<%= render 'users/partials/top_bar'%>
<!-- Profile Pages -->
<div class = "left-side-bar">
    <%= render 'users/partials/profile'%>
</div>
<%= react_component("Main", {
    reviews: @reviews,
    authors: @authors,
    reviewsneg: @neg_reviews,
    authorsneg: @authorsneg,
    reviewswritten: @reviewswritten,
    received: @received,
    token: form_authenticity_token,
    current_user: current_user,
    receiver: @user,
    profile: @profile,
    categories: @categories,
    review_categories: @review_categories,
    written_review_categories: @written_review_categories,
    neg_review_categories: @neg_review_categories,
    rebuttals: @rebuttals,
    written_rebutted: @written_rebutted,
    written_review_profiles: @written_review_profiles,
    neg_review_profiles: @neg_review_profiles,
    review_profiles: @review_profiles,
    totOfReviews: @total_of_reviews,
    posReviews: @positive_reviews,
    credScore: @credibility_score,
    flags: @flags,
    neg_flags: @neg_flags,
    written_flagged: @written_flagged
  })
%>