<a href = "/register">
  <div class = "homepage-signup-button-black">
    Get Credible
  </div>
</a>

<div class = "home-text">
  Your online
  reputation that
  you can take <span class = "green"> anywhere</span>.
</div>
<div class = "home-photo"> </div>
<div class = "feature-person">
  <img src = "/homepage/julia_credible.png" width = "100%">
</div>
<div id = "content" class = "click-scroll-outer">
  <div class = "click-scroll">
    <a href = "#content">
      <img src = "/homepage/click_scroll.png" width = "100%">
    </a>
  </div>
</div>
<div class = "homepage-content">
  <div class = "homepage-reviews">
    <img class = "line" src = "/homepage/divide_line.png" width = "100%">
    <h2 class = "h2-homepage">Let your reviews do the talking. </h2>
    <img src = "/homepage/reviews.png" width = "100%">
    <img class = "line" src = "/homepage/divide_line.png" width = "100%">
    <h2 class = "h2-homepage">Defend your reputation. </h2>
    <img src = "/homepage/protect.png" width = "100%">
  </div>
  <div class = "more-details-green">
    <h2 class = "h2-more-details">Put yourself out there. </h2>
    <div class = "more-details-block-outer">
      <div class = "more-details-block">
        <div class = "homepage-icon">
          <img src = "/homepage/link_icon.png" width = "100%">
        </div>
        <p><strong>Link</strong> your profile in an existing app, such as Facebook, Craigslist, Air BnB, Kajiji, etc. to improve your credibility</p>
      </div>
      <div class = "more-details-block" >
        <div class = "homepage-icon">
          <img src = "/homepage/embed_link.png" width = "100%">
        </div>
        <p><strong>Embed</strong> your reputation widget on a personal or business website with HTML code we provide for you.</p>
      </div>
    </div>
  </div>
  <div class = "home-page-signup">
    <h2 class = "h2-signup"> Get credible.</h2>
    <p>Create a user profile in under 5 minutes.</p>
    <div class = "signup-outer">
      <a href = "/register">
        <div class = "homepage-signup-button-green">
          Let's go!
        </div>
      </a>
    </div>
  </div>
</div>