 /*
 If your creating a new style sheet, remember to import it below the IMPORT STYLES
 */

 /////////////////////
 // VARIABLES ///////
$true-green: #00A185;
$dark-true-green: #008075;
$light-grey: #eee;

$brand-green: #00a085;
$neg-red: #b54343;
$light-grey: #e1e1e1;
$medium-grey: #aeaeae;

////////////////////
// IMPORT FONTS
@import url('https://fonts.googleapis.com/css?family=Lato');

//////////////////////
// IMPORT STYLES
@import 'normalize';
@import 'layout';
@import 'shared';
@import 'forms';
@import 'navigation';
@import 'sessions';
@import 'users';
@import 'welcome';
@import 'rebuttals';
@import 'widgets';
@import 'retract';
@import 'review_form';
@import 'reviews';
@import 'flags';

