
.form {
  margin-top: 40px;
  border-radius: 6px;
  /* overflow conflicts with display of Registration form and hides it from being displayed */
  // overflow: hidden;
  // opacity: 0;

  #submit { 
    background: $dark-true-green;
  }
}

// .form--no {
//   animation: NO 1s ease-in-out;
//   opacity: 1;
//   transform: translate3d(0, 0, 0);
// }

.form-input {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s;
  background: darken(#fff, 2%);
  
  &:focus {
      background: darken(#fff, 9%);
  }
}

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: $true-green;
  transition: 0.3s;
  
  &:hover {
      background: darken($true-green, 5%);
  }
}

#username {
  // position: absolute;
  // display:inline-block;
}


