body {
  font-family: 'Lato', 'sans-serif';
}

/* ******************* TESTING */


.card {
  float: left;
  background: #fff;
  padding: 20px;
  margin: 0 20px 0 0;
}

.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.donut-chart .slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.donut-chart .chart-center {
  position: absolute;
  border-radius: 50%;
}
.donut-chart .chart-center span {
  display: block;
  text-align: center;
}

.donut-chart.chart2 {
  width: 200px;
  height: 200px;
  background: #da0909;
}
.donut-chart.chart2 .slice.one {
  clip: rect(0 200px 100px 0);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  background: #139838;
}
.donut-chart.chart2 .slice.two {
  clip: rect(0 100px 200px 0);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #139838;
}
.donut-chart.chart2 .chart-center {
  top: 25px;
  left: 25px;
  width: 150px;
  height: 150px;
  background: #fff;
}
.donut-chart.chart2 .chart-center span {
  font-size: 40px;
  line-height: 150px;
  color: #139838;
}
