
.home-menu {
  text-align: center;
  padding: 0.5em;
  background: $dark-true-green;
  color: white;

  .logo{
    float: left;
  }
  a {
    color: white;
  }
  ul {
    float: right;
  }
  li a:hover,
  li a:focus {
    background: none;
    border: none;
    color: lighten($true-green, 10%);
  }
}

.login-logout-button{
  margin-right: 30px;
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

#logo {
  font-size: 2em;
  text-shadow: 0 2px #333;
  margin: 0;
  padding: .3em;
}
