.navigation {
  display: fixed;
  top: 0;
  left: 0;
  .container {
    padding: .4em .9em;
    background: $truthgreen;
  }

  .brand {
    display: inline-block;
    font-family: 
  }
  nav {
    display: inline-block;
  }

}