.review{
  border: 1px solid #cfcfcf;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 20px 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
  .review-header{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid #cfcfcf;
    background-color: #f1f1f1;
    padding: 10px;
    padding-bottom: 10px;
  }
  .reviewer-info{
    font-size: 1.1em;
    font-weight: bold;
    color: #414141;
    text-decoration: none;
    padding-top: 7px;
    .reviewer-name{
      &:hover{
        text-decoration: underline;
      }
    }
    .status{
      font-family: Lato;
      color: #8c8c8c;
      text-transform: uppercase;
      font-size: 0.5em;
      padding: 2px 5px;
      border: 1px solid $medium-grey;
      border-radius: 5px;
      background-color: $light-grey;
    }
  }
  .reviewing-as{
    color: $brand-green;
    p{
      padding: 0;
      padding-left: 5px;
      margin: 0;
    }
    a{
        &:hover{
        text-decoration: underline;
      }
    }
  }
  .content{
    padding-top: 10px;
    font-family: Lato;
    padding-bottom: 10px;
    white-space: pre-wrap;
    /*border-bottom: 2px solid $brand-green;*/
  }
  .circle-frame{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    overflow: hidden;
  .resize-image{
    width: inherit;
    }
  }
  .float-left{
    float: left;
    padding-right: 15px;
  }
  .float-right{
    float: right;
  }
  .red{
    color: $neg-red;
  }
  .review-date{
    padding-right: 15px;
  }
  p{
    margin: 0;
    margin-bottom: 10px;
  }
}

.delete-users-button{
  color: $neg-red;
  font-weight: bold;
  font-size: 0.8em;
  opacity: 1.0;
  &:hover{
    opacity: 0.7;
  }
}

.delete-button{
  width: 20px;
  color: $neg-red;
  font-weight: bold;
  font-size: 0.8em;
  opacity: 1.0;
  &:hover{
    opacity: 0.7;
  }
}

.reference-url{
  color: $medium-grey;
  font-style: italic;
}


