@import url('https://fonts.googleapis.com/css?family=Lato');
$brand-green: #00a085;

body{
  font-family: Lato;
}

h1 {
  color: $brand-green;
}

.review-type-title{
  font-size: 1.5em;
  border-bottom: 2px solid $brand-green;
}

.right-box{
  width: 60%;
  display: inline;
  float: right;
  padding-right: 3%;
  padding-bottom: 30px;
}

.left-side-bar{
  padding-top: 20px;
  width: 30%;
  display: inline;
  height: 100%;
  float: left;
  padding-left: 3%;
  text-align: center;
}

.review{
  .reviewer-name{
    padding-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #414141;
    p{
      padding: 10px 0 0 0 ;
      margin: 0;
    }
  }
  .reviewing-as{
    color: $brand-green;
    p{
      padding: 0;
      margin: 0;
    }
  }
  .content{
    font-family: Lato-light;
    padding-bottom: 10px;
    border-bottom: 2px solid $brand-green;
    margin-bottom: 20px;
  }
  .circle-frame{
    border-radius: 50%;
    border: 1px solid black;
    width: 55px;
    height: 55px;
  }
  .float-left{
    float: left;
    padding-right: 15px;
  }
  .float-right{
    float: right;
  }
}

.name{
  color: #414141;
  font-size: 2.5em;
}

.bio-box {
  color: #292929;
  font-size: 0.9em;
  line-height: 1.7em;
  background-color: #ebebeb;
  padding: 10px 20px;
}

.write-review-button{
  background-color: white;
  color: $brand-green;
  font-size: 1.2em;
  border-radius: 7px;
  border: 2px solid $brand-green;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  vertical-align: middle;
  margin: 20px;
  float: right;
  &:hover{
    background-color: $brand-green;
    color: white;
  }
}

.select-reviews{
  border-bottom: 4px solid #ebebeb;
  padding: 15px 0;
  p{
    margin: 0;
    padding: 0;
  }
  &:hover{
    background-color: #ebebeb;
  }
  .negative{
    color: #b54343;
  }
}

.avatar{
  width: 100%;
  overflow: hidden;
}

.resize-image{
  width: inherit;
}
