@import url('https://fonts.googleapis.com/css?family=Lato');
$brand-green: #00a085;
$neg-red: #b54343;

body{
  font-family: Lato;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  color: $brand-green;
}

.must-be-member{
  float: right;
  font-size: 0.8em;
  width: 100px;
  text-align: right;
  margin-top: 20px;
  margin-left: 25px;
}

.review-type-title{
  font-size: 1.5em;
  border-bottom: 2px solid $brand-green;
}

.right-box{
  width: 60%;
  display: inline;
  float: right;
  padding-right: 3%;
  padding-bottom: 30px;
}

.left-side-bar{
  padding-top: 20px;
  width: 30%;
  display: inline;
  height: 100%;
  float: left;
  padding-left: 3%;
}


.review{
  border: 1px solid #cfcfcf;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 20px 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
  .review-header{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid #cfcfcf;
    background-color: #f1f1f1;
    padding: 10px;
    padding-bottom: 20px;
  }
  .reviewer-name{
    padding-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #414141;
    text-decoration: none;
    p{
      padding: 10px 0 0 0 ;
      margin: 0;
    }
    &:hover{
      text-decoration: underline;
    }
  }
  .reviewing-as{
    color: $brand-green;
    p{
      padding: 0;
      margin: 0;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  .content{
    padding: 10px;
    font-family: Lato;
    padding-bottom: 10px;
    /*border-bottom: 2px solid $brand-green;*/
  }
  .circle-frame{
    border-radius: 50%;
    border: 1px solid black;
    width: 55px;
    height: 55px;
  }
  .float-left{
    float: left;
    padding-right: 15px;
  }
  .float-right{
    float: right;
  }
  .red{
    color: $neg-red;
  }
}

.name{
  color: #414141;
  font-size: 2.5em;
}

.bio-box {
  color: #292929;
  font-size: 0.9em;
  line-height: 1.7em;
  background-color: #ebebeb;
  padding: 5px 20px;
  .date-joined{
  color: #a6a6a6;
  }
}

.write-review-button{
  background-color: white;
  color: $brand-green;
  font-size: 1.2em;
  border-radius: 7px;
  border: 2px solid $brand-green;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  vertical-align: middle;
  margin: 20px;
  float: right;
  &:hover{
    background-color: $brand-green;
    color: white;
  }
}

.select-reviews{
  text-align: center;
  border-bottom: 4px solid #ebebeb;
  padding: 15px 0;
  p{
    margin: 0;
    padding: 0;
  }
  &:hover{
    background-color: #ebebeb;
  }
  .negative{
    color: #b54343;
  }
}

.avatar{
  width: 100%;
  overflow: hidden;
}

.resize-image{
  width: inherit;
}
