<header class="navigation">
  <div class="container">
    <div class="brand">
      <%= link_to "C", '/', id: "logo" %>
    </div>
    <nav>
      <ul class="nav-list">
        <% if current_user %>
          <li class="menu-item"><%= link_to 'Profile', user_path(current_user) %><li>
          <li class="menu-item"><%= link_to "Logout", logout_path, class: "menu-border" %></li>
        <% else %>
          <li class="menu-item"><%= link_to "Login", login_path, class: "menu-border" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>